# Assemble Testing Dataset

## PheMT paper specifies that proper noun and abbreviated noun provide the most benefit

In [30]:
import pandas as pd 
import numpy as np

In [31]:
proper_df = pd.read_csv("./PheMT/proper/proper.tsv", sep='\t')
abbrev_df = pd.read_csv("./PheMT/abbrev/abbrev.tsv", sep='\t')
abbrev_df = abbrev_df.drop('normalized', axis=1) 
phe_mt_master_df = pd.concat([proper_df, abbrev_df], axis=0) 
print(phe_mt_master_df)

       sid                                                 ja  \
0      bl0                           ğŸŠ  *(å°å£°) BiSHã®æ›²* (ã€ƒ'âˆ‡'ã€ƒ)
1    bl104  >å…ƒã‚¹ãƒ¼ãƒ‘ãƒ¼ã‚¹ã‚¿ãƒ¼ã®ã‚¦ã‚µã‚¤ãƒ³ãƒ»ãƒœãƒ«ãƒˆæ°    ã“ã†ãªã£ãŸã‚‰ã‚‚ã†ã‚¹ãƒ¼ãƒ‘ãƒ¼ã‚¹ã‚¿ãƒ¼ã˜ã‚ƒãªã„ã€ã¿ãŸã„...
2     bl11                                        (ãƒ•ã‚¡ãƒŸãƒã‚­ãã ã•ã„)
3    bl118                                  Animeï¼œHentai ã ã‹ã‚‰ã­
4    bl120                                      Bundle(ã‚²ãƒ¼ãƒ ï¼‘æœ¬)
..     ...                                                ...
342  tr694                           ã€ç­‹ãƒˆãƒ¬ã€‘åŠå¹´é–“é€†ç«‹ã¡ã‚’ã‚„ã‚Šç¶šã‘ãŸã‚‰ã“ã†ãªã£ãŸï¼
343  tr772                                     ï¼§ï¼¤ï¼°ã€ï¼’ï¼˜å¹´ã¶ã‚Šï¼˜æœŸé€£ç¶šå¢—
344  tr789                                          ï¼·ï¼¨ï¼¯ãŒå…¬å¼ã«èªå®š
345   tr80            22æ—¥æ±äº¬æ ªå‰å ´ æ—¥çµŒå¹³å‡ç¶šä¼¸ã€173å††é«˜  ä»‹å…¥ã®ã›ã„ã‹å††é«˜æ ªé«˜ã«ãªã£ã¡ã‚…ã†
346  tr979                              ãŠå…„æ§˜ã‚­ãƒ£ãƒ©ã«èŒãˆã‚‹ã¨ã¯æµçŸ³ã«æ€ã‚ãªã‹ã£ãŸ

                                                    en  average       expr  \
0          ğŸŠ  *(in a small voice) BiSH's song* (ã€ƒ'âˆ‡'ã€ƒ)     5.00       BiSH
1    >ex superstar Usain St. Leo Bolt, is there any...     4.00  ã‚¦ã‚µã‚¤ãƒ³ãƒ»ãƒœãƒ«ãƒˆæ°
2           (Please give me Family Mart Fried Chicken)     5.00      ãƒ•ã‚¡ãƒŸãƒã‚­
3                          That's because Anime<Hentai     4.33      Anime
4                                    Bundle (One game)     5.00     Bundle
..                                                 ...      ...        ...
342  [Muscle Training] It has become like this afte...     4.33        ç­‹ãƒˆãƒ¬
343  GDP, first time in 28 years to see increase 8 ...     4.33        ï¼§ï¼¤ï¼°
344                     Public acknowledgement by WHO.     4.67        ï¼·ï¼¨ï¼¯
345  22nd, Tokyo Stock Exchange Morning Market, Nik...     4.33       æ—¥çµŒå¹³å‡
346  I didn't think I'd find a big brother characte...     5.00        ã‚­ãƒ£ãƒ©

                  aligned_expr
0                         BiSH
1           Usain St. Leo Bolt
2    Family Mart Fried Chicken
3                        Anime
4                       Bundle
..                         ...
342            Muscle Training
343                        GDP
344                        WHO
345               Nikkei Index
346                  character

[1285 rows x 6 columns]

In [28]:
def write_phemt_df_to_txt(df, column_name, file_path):
    """
    Write a specific column of a pandas DataFrame to a text file with each value on a separate line.
    
    Args:
        df (pd.DataFrame): The DataFrame containing the column to write to the text file.
        column_name (str): The name of the column to write to the text file.
        file_path (str): The relative file path to write the text file to.
    """
    with open(file_path, 'w') as f:
        for value in df[column_name]:
            f.write(str(value) + '\n')

In [34]:
write_phemt_df_to_txt(phe_mt_master_df, 'ja', './datasets/public/pheMT_final/raw.ja')
write_phemt_df_to_txt(phe_mt_master_df, 'en', './datasets/public/pheMT_final/raw.en')